*.DS_Store
/bin/
*.o
*.d
*.elf
*.eep
*.lss
*.map
*.srec
*.mk
*.hex
*Makefile
datalog/
vendor/mjpg-streamer/build/
webmon/mnt-data/
webmon/build/main.js
webmon/testdata
/hc3d-tm/hc3d-tm-sitl/Debug/hc3d-tm-sitl.exe
/hc3d-tm/Debug/makefile
/webmon/ts/Config.ts
