*.DS_Store
*.o
*.d
*.elf
*.eep
*.lss
*.map
*.srec
*.mk
*.hex
*Makefile
datalog/
vendor/mjpg-streamer/build/
webmon/mnt-data/
webmon/main.js
webmon/testdata
tm/hc3d-tm-sitl/Debug/hc3d-tm-sitl.exe
tm/Debug/makefile
webmon/ts/Config.ts
webmon/mnt-data
scripts/hc3d-tm.pid
prosurd/build
prosurd/build_remote
prosurd/build_test
prosurd/build_test_camera
prosurd/client.html
/README.md.backup
/prosurd/scripts/run-prosurd.config
