a{
    color: black;
    font-weight: normal;
    text-decoration: none;
}

a:hover{
    background: #e4e4e4;
}

body{
    padding: 0;
    margin: 0;
}

#session-list{
    overflow-y: scroll;
    width: 300px;
    color: white;
    font-family: monospace;
    height: 100vh;
    position: absolute;
    border-right: 1px solid black;
}

canvas{
    position: absolute;
    height: 100vh;
    left: 300px;
}