:root {
    color-scheme: dark;
}

a{
    color: white;
    font-weight: normal;
    text-decoration: none;
}

a:hover{
    background: #000000;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden !important;
    font-family: monospace;
    background: #202124;
    color: white;
}

canvas{
    cursor: crosshair;
    z-index: 3;
}

#legend, #zoom-level, #mouse-value{
    position: fixed;
    color: white;
    padding: 5px;
    background: #262626;
    border: 1px solid #909090;
    font-weight: bold;
    z-index: 4;
}

#legend{
    top: 10px;
    right: 500px;
}

#zoom-level{
    top: 10px;
    left: 487px;
}

#mouse-value{
    left: 577px;
    top: 10px;
}

/* Three columns */
#session-list, #parameter-list, #viewer{
    position: absolute;
    height: 100vh;
    top: 0;
}

#session-list{
    left: 0;
    width: 400px;
    overflow-y: scroll;
    
    border-right: 1px solid black;
}

#parameter-list{
    right: 0;
    width: 400px;

    overflow-y: scroll;
}

#viewer{
    left: 400px;
    right: 400px;
    height: 100vh;
    
    background: yellow;
}

