a{
    color: black;
    font-weight: normal;
    text-decoration: none;
}

a:hover{
    background: #e4e4e4;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden !important;
    font-family: monospace;
}

#session-list{
    overflow-y: scroll;
    width: 170px;
    color: white;
    height: 100vh;
    position: absolute;
    border-right: 1px solid black;
}

canvas{
    position: absolute;
    /* height: calc(100vh - 20px); */
    /* width: calc(100vw - 170px); */
    top: 0;
    right: 0;
    cursor: grab;
    z-index: 3;
}

#legend{
    position: fixed;
    width: 150px;
    top: 10px;
    right: 10px;
    color: black;
    padding: 5px;
    font-weight: bold;
    z-index: 4;
    background: white;
    border: 1px solid black;
}

#zoomLevel{
    position: fixed;
    top: 20px;
    left: 265px;
    z-index: 4;
    font-weight: bold;
    color: black;
    padding: 5px;
    background: white;
    border: 1px solid black;
}

#scroller{
    position: absolute;
    height: 100vh;
    left: 170px;
    width: calc(100vw - 170px);
    overflow-y: hidden;
    overflow-x: visible;
    z-index: 2;
}

    #scroller-inner{
        width: 0px;
        height: 1px;
    }